<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<div id="myorders" class="container-fluid text-center bg-grey">
    <h2>ORDERS</h2>
    <div class="row text-center slideanim">
        <div class="col-sm-4" th:each="element: ${orders}">
            <div class="thumbnail">
                <img th:src="'/images/' + ${element.name} +'.png'" alt="shape img" width="400" height="300">
                <h3 th:text="${element.name}"></h3>
                <p th:text="${element.material}"><strong></strong></p>
                <p th:text="${element.color}"></p>
                <p th:text="${element.sizeradio}"></p>
                <p th:text="${element.getPrice()}"></p>
                <form th:action="'/orders/'+${element.id}+'/delete'" method="post">
                <p><button type="submit" class="btn">Delete</button></p>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>