<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/0fd8fbc1b6.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<div th:insert="blocks/header :: header"></div>
<div class="jumbotron text-center">
    <div class="text-block">
        <h1 style="font-family:'Kaushan Script', cursive;">3d Printing Service</h1>
        <p><i>Upload your 3D model, choose from different finishes and materials, select the size of your print, receive
            a price quote instantly and let us take care of printing and shipping your products.</i></p>
    </div>
</div>
<div class="container-fluid text-center bg-grey">
    <form action="/orders" method="post" id="userForm">
        <div class="row text-center slideanim col-sm-6">
            <div class="form-group">
                <label for="inputName">Name of shape</label>
                <input type="text" name="name" class="form-control" id="inputName" placeholder="">
                <small id="nameHelp" class="form-text text-muted">Name is case sensitive, please enter name which will
                    match image name on database</small>
            </div>
            <div class="form-group">
                <label for="inputColor">Color</label>
                <input type="text" name="color" class="form-control" id="inputColor" placeholder="Choose a color">
            </div>
            <div class="form-group">
                <label for="inputMaterial">Material</label>
                <input type="text" name="material" class="form-control" id="inputMaterial"
                       placeholder="Choose a material">
            </div>
        </div>
        <div class="row text-center slideanim col-sm-3">

            <div class="form-group">
                <label for="chooseSize">Size</label>
                <div class="radio" th:each="el: ${size}">
                    <div>
                    <label><input type="radio" name="sizeradio" id="chooseSize" checked th:text="${el.sizeName}"
                                  th:value="${el.id}"></label>
                    </div>
                    <div class="block-text" th:id="'block-'+${el.id}">
                        <input class="form-control"
                               type="text"
                               th:value="'Price is ' + ${el.price} +'$'" id="price" name="price" readonly />
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Order</button>
    </form>

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exModalLabel">Result</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your order has been successfully accepted. Thanks for choosing us!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"><a href="/orders">See my basket</a></button>
            </div>
        </div>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>

<script>
    $('input[name="sizeradio"]').click(function () {
        var target = $('#block-' + $(this).val());

        $('.block-text').not(target).hide(0);
        target.fadeIn(500);
    });
    $(document).ready(function () {
        $(".navbar a, footer a[href='#myPage']").on('click', function (event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;

                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function () {
                    window.location.hash = hash;
                });
            }
        });

        $(window).scroll(function () {
            $(".slideanim").each(function () {
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });
        });
    })
</script>